@model IList<Cela>

@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>


<table class="table">
    <tr>
        <th>Nome</th>
        <th>Area</th>
        <th>Quantidade Maxima</th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Area</td>
            <td>@item.QuantidadeMaxima</td>
            <td>
                
              <a asp-route-codigo="@item.CelaId" asp-action="detalhar" class="btn btn-success">Detalhar</a>
                <a asp-route-codigo="@item.CelaId" asp-action="cadastrarP" class="btn btn-success">Cadastrar presidiario</a>
            </td>
            
        </tr>



    }








</table>